---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import type { ImageMetadata } from 'astro';

const { product, image } = Astro.props as {
  product: CollectionEntry<'products'>;
  image: ImageMetadata;
};

const slug = product.filePath?.substring(product.filePath.lastIndexOf('/') + 1, product.filePath.lastIndexOf('.md'));
---

<article class="border border-stone-300 rounded-xl pb-6 shadow-md hover:scale-105 hover:shadow-xl transition-all duration-300">

    <div class="w-full flex flex-col items-center gap-4">

		<div class="w-full bg-[#F7F6E4] rounded-t-xl p-6 flex flex-col items-center">
				<h1 class="font-playfair text-[#4B5E45] text-5xl tracking-[0.4em] uppercase">
					{product.data.name}
				</h1>
				<span class="font-playfair text-[#4B5E45] text-xs tracking-[0.4em] uppercase mt-4">
					{product.data.title}
				</span>
			</div>

		<a href={`/products/${slug}`} class=" text-green-700 text-sm underline hover:text-med-terracotta transition">
			{"Ver mas"}
			<span class="icon-[emojione-v1--bouquet] w-10 h-6 align-text-top"></span>
        </a>

        <p class="flex flex-col items-center text-center">
            {product.data.benefits.map((benefit) => (
                <span class="font-playfair text-[#4B5E45] text-sm leading-relaxed">
                    {benefit}
                </span>
            ))}
        </p>

        <div class="flex flex-col items-center text-center">
            <p class="font-playfair font-bold text-[#576B51] text-lg mb-2" >
                Extracto de
            </p>

            {product.data.extracts.map((extract, index) => (
                <h2 class={`font-playfair text-[#4B5E45] text-4xl uppercase tracking-[0.4rem] leading-none`}>
                    {extract}
                </h2>
            ))}
			
        </div>

    </div>
</article>