---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import ShareButton from '../components/ShareButton.astro';
import BackButton from '../components/BackButton.astro';

type Props = CollectionEntry<'products'>['data'];

const { id, name, title, description, heroImage, price, benefits, extracts, useMode, ...rest } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={`${name} ${title} ${extracts}`} description={description} heroImage={heroImage} />
	</head>

	<body>
		<Header />

		<main class="text-[#4B5E45] text-sm overflow-hidden">
			<div class="container px-5 py-24 mx-auto">
				<div class="lg:w-4/5 mx-auto flex flex-wrap">
					{heroImage && <Image height={300} src={heroImage} alt={title} loading="lazy" format="webp" sizes="100vw" densities={[0.5, 1, 2]} class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" />}
					<div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
						<h2 class="text-sm title-font tracking-widest">{`Extracto de ${extracts}`}</h2>
						<h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{`${name} ${title}`}</h1>
						<p class="flex flex-col gap-2 leading-relaxed">
							{description}
						</p>
						<p class="flex flex-col gap-2 leading-relaxed">
							{benefits && (
								<ul class="list-disc ml-5 mt-2">
									{benefits.map((benefit) => (
										<li>{benefit}</li>
									))}
								</ul>
							)}
						</p>
						<p class="flex flex-col gap-2 leading-relaxed">
							{useMode}
						</p>
						<div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
							<div class="flex items-center">
								<span class="mr-3">Size</span>
								<div class="relative">
								<select class="rounded border appearance-none border-gray-300 py-2 focus:outline-none focus:ring-2 focus:ring-indigo-200 focus:border-indigo-500 text-base pl-3 pr-10">
									<option>60 ml.</option>
									<option>120 ml.</option>
									<option>240 ml.</option>
								</select>
								<span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
									<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
									<path d="M6 9l6 6 6-6"></path>
									</svg>
								</span>
								</div>
							</div>
							<div class="flex ml-6 ">
								{price && (<span class="title-font font-medium text-2xl text-gray-900">${price}</span>)}
								<!-- <span class="mr-3">Color</span>
								<button class="border-2 border-gray-300 rounded-full w-6 h-6 focus:outline-none"></button>
								<button class="border-2 border-gray-300 ml-1 bg-gray-700 rounded-full w-6 h-6 focus:outline-none"></button>
								<button class="border-2 border-gray-300 ml-1 bg-indigo-500 rounded-full w-6 h-6 focus:outline-none"></button> -->
							</div>
						</div>
						<div class="flex flex-col md:flex-row gap-1">
							<WhatsAppButton productName={name} sku={id.toString()} />
							<ShareButton />
							<BackButton />
						</div>
					</div>
				</div>
			</div>
		</main>

		<Footer />
	</body>
</html>
